################################################################################

# emacs
*~

# g++
*.o
source/AVRemu
source/AVRtest
test/*

################################################################################
