################################################################################

# emacs
*~

# g++
*.o
source/AVRemu
source/AVRmatch
source/AVRtest
test/*
source/tags
*.swp

################################################################################
